<div class="add-todo">
  <div>
    <input type="text" class="add-title add-input" placeholder="Enter a title for your idea" data-ng-model="tdNewVM.newTodo.title" />
  </div>

  <input type="text" class="add-address add-input" placeholder="Street Address" data-ng-model="tdNewVM.newTodo.location.address" />
  <input type="text" class="add-city add-input" placeholder="City" data-ng-model="tdNewVM.newTodo.location.city" />
  <input type="text" class="add-state add-input" placeholder="State" data-ng-model="tdNewVM.newTodo.location.state" />
  <input type="text" class="add-zip add-input" placeholder="Zipcode" data-ng-model="tdNewVM.newTodo.location.zipcode" />
  <input type="text" class="add-idea add-input" placeholder="Tell us all about your idea..." data-ng-model="tdNewVM.newTodo.body" />
  <select class="add-cost add-select" data-ng-model="tdNewVM.newTodo.cost">
    <option value="" disabled selected>What's The Cost?</option>
    <option data-ng-value="Free" >FREE</option>
    <option data-ng-value="Under 20">Under $20</option>
    <option data-ng-value="$20 - $50">$20 - $50</option>
    <option data-ng-value="$50 - $100">$50 - $100</option>
    <option data-ng-value="Over $100">Over $100</option>
  </select>
  <select class="add-family add-select" data-ng-model="tdNewVM.newTodo.familyFriendly">
    <option value="" disabled selected>Kid Friendly?</option>
    <option data-ng-value="true">Great For Kids</option>
    <option data-ng-value="false">Not So Much</option>
  </select>
  <select class="add-outdoor add-select"  data-ng-model="tdNewVM.newTodo.outdoor">
    <option value="" disabled selected>Indoor or Outdoor?</option>
    <option data-ng-value="false">Indoor</option>
    <option data-ng-value="true">Outdoor</option>
  </select>
  <br>

  <button type="button" data-ng-click="tdNewVM.create()">Add Your Idea</button>
  <button type="button" data-ng-click="tdNewVM.refresh()">Cancel</button>
</div>
