<div class="show-wrapper" data-ng-if="tdShowVM.todo.title">

  <div class="todo-title">
    <h1>{{tdShowVM.todo.title}}</h1>
  </div>

  <div class="todo-wrapper">
    <div class="todo-show-info">
      <div class="todo-cost">
        <img src="../images/money-icon.jpg" alt="cost" />
        <p>{{tdShowVM.todo.cost}}</p>
      </div>
      <div class="todo-family" data-ng-if="tdShowVM.todo.familyFriendly == true">
        <img src="../images/family-icon.jpg" alt="family friendly" />
        <p>Family Friendly</p>
      </div>
      <div class="todo-family" data-ng-if="tdShowVM.todo.familyFriendly == false">
        <img src="../images/no-family-icon.jpg" alt="not family friendly" />
        <p>No Children</p>
      </div>
      <div class="todo-outdoor" data-ng-if="tdShowVM.todo.outdoor == true">
        <img src="../images/outdoor-icon.jpg" alt="outdoor" />
        <p>Outdoor</p>
      </div>
      <div class="todo-outdoor" data-ng-if="tdShowVM.todo.outdoor == !true">
        <img src="../images/indoor-icon.jpg" alt="indoor" />
        <p>Indoor</p>
      </div>
      <div class="todo-comments">
        <img src="../images/comment-icon.jpg" alt="comments" />
        <p>{{tdShowVM.todo.comments.length}} Comments</p>
      </div>
    </div>

   <div class="todo-main">
      <p>{{tdShowVM.todo.body}}</p>
    </div>

    <div class="edit-todo" data-ng-show="showme">
      <p>Title</p>
      <p><input type="text" class="edit-title" data-ng-model="tdShowVM.todo.title" /></p>
      <p>Description</p>
      <p><textarea class="edit-body" data-ng-model="tdShowVM.todo.body"></textarea></p>
      <p>Cost</p>
      <p><input type="text" class="edit-cost" data-ng-model="tdShowVM.todo.cost" /></p>
      <p>Address</p>
      <input type="text" class="edit-address" data-ng-model="tdShowVM.todo.location.address" />
      <input type="text" class="edit-city" data-ng-model="tdShowVM.todo.location.city" />
      <input type="text" class="edit-state" data-ng-model="tdShowVM.todo.location.state" />
      <input type="text" class="edit-zipcode" data-ng-model="tdShowVM.todo.location.zipcode" />
      <button type="button" class="update-todo-button" data-ng-click="tdShowVM.update(); tdShowVM.refresh()">Update</button>
      <button type="button" class="cancel-todo-button" data-ng-click="tdShowVM.refresh()">Cancel</button>
    </div>

    <div class="edit-buttons">
      <button type="button" class="edit-todo-button" data-ng-click="showme=true">Edit</button>
      <button type="button" class="delete-todo-button" data-ng-click="tdShowVM.delete()">Delete</button>
    </div>

    <div class="comment-title">
      <h2>Comments</h2>
    </div>
    <div class="comments" data-ng-repeat="comment in tdShowVM.todo.comments">
      <p>{{comment.body}} <span>-{{comment.author}}</span></p>
      <button type="button" class="edit-comment-button" data-ng-click="commentEdit=true">Edit Comment</button>
      <div class="edit-comment" data-ng-show="commentEdit">
        <p><input type="text" data-ng-model="comment.author" /></p>
        <p><input type="text" data-ng-model="comment.body" /></p>
        <p><button type="button" class="update-comment-button" data-ng-click="tdShowVM.update($index)">Update Comment</button></p>
        <p><button type="button" class="delete-comment-button" data-ng-click="tdShowVM.deleteComment($index)">Delete Comment</button></p>
      </div>
      <hr>
    </div>

  </div>

  <div class="map-container">
    <div data-ng-init="tdShowVM.initMap()" id="map"></div>
    <p>{{tdShowVM.todo.location.address}} {{tdShowVM.todo.location.city}}, {{tdShowVM.todo.location.state}} {{tdShowVM.todo.location.zipcode}}</p>

    <div class="add-comment">
      <h1>Add A Comment</h1>
      <input type="text" class="add-comment-name" data-ng-model="tdShowVM.newComment.author" placeholder="Your Name" />
      <input type="text" class="add-comment-body" data-ng-model="tdShowVM.newComment.body" placeholder="Your Comment" />
      <p><button type="button" class="add-comment-button" data-ng-click="tdShowVM.addComment(tdShowVM.newComment); tdShowVM.refresh()">Add Comment</button></p>
    </div>
  </div>

</div>
<div data-ng-if="!tdShowVM.todo.title">
  <h2>Sorry, there's nothing to do here!</h2>
</div>
